h2 {
    font-style: italic;
}

.user-add-form {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 20px 0px;
}

.user-add-form input {
    max-width: 100%;
}

.user-add-form .form-item {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;  
}

.user-add-form .error-msg {
    color: red; margin-top: 5px; display: none;
}

.user-add-form fieldset {
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

.user-add-form .form-item:nth-child(8){
    display: flex;
    flex-direction: row;
}

.user-add-form .radiobox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 12px;
}

.user-add-form .radiobox label {
    margin-right: 20px;
}
